body {
  background-color: lavender;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  border-top: 1px solid;
  margin: 1px;
  padding-top: 12px;
}

.my-name {
  font-size: 40px;
  margin-top: 20px;
  font-style: oblique;
}

.my-info {
  line-height: auto;
  font-style: oblique;
}

.exp-header1 h3 {
  text-decoration: underline;
  margin-bottom: 5px;
}

.exp-header2 h3 {
  text-decoration: underline;
  margin-bottom: -15px;
}

.exp-header2 h4 {
  margin-bottom: 1px;
}

.exp-header3 h3 {
  text-decoration: underline;
  margin-bottom: -15px;
}

.exp-header3 h4 {
  margin-bottom: -19px;
}

.exp-header3 h6 {
  font-size: 11px;
}
